<%- include('../partials/_head.ejs') %> <%- include('../partials/header.ejs') %>
<div class="form-signup">
    <form action="/message" method="POST">
        <div>
            <label for="title">Title: </label>
            <input type="text" name="title" id="title" placeholder="TITLE" />
        </div>
        <div>
            <label for="message">Content: </label>
            <input
                type="text"
                name="message"
                id="message"
                placeholder="Write your message here."
            />
        </div>
        <button type="submit">Submit</button>
    </form>
</div>
<%- include('../partials/_footer.ejs') %>
