<%- include('../partials/_head.ejs') %> <%- include('../partials/header.ejs') %>
<% if(locals.errMsg) { %>
<div class="wrong-credentials"><%= locals.errMsg %></div>
<% } %>
<div class="form-login">
    <form action="/login" method="POST">
        <div>
            <label for="username">Username: </label>
            <input type="text" name="username" id="username" />
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" name="password" id="password" />
        </div>
        <button type="submit">Submit</button>
    </form>
</div>
<%- include('../partials/_footer.ejs') %>
